<head>
	<title>{{ site.title_page }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	
	<meta name="description" content="Life Builders Community Church, New Town, Kolkata is a vibrant and Spirit-filled community passionate about sharing our belief and faith. We highly value people irrespective of their background. We believe in empowering people and growing together. We are passionate about sharing God’s love with our community, city and nation. Out motto is - GATHER in friendship & family, GROW in character & gifting, GO in mission & service." />

<meta name="keywords" content="lifebuilderskolkata, english church, church in new town, kolkata, soulful worship, biblical messages, sunday school, fellowship, christ centered community, praise & worship, prayer, friendship, lbcc, charismatic church, friendship, family, mission & service" />
<meta property="category" content="Church" />
<meta name="application-name" content="lifebuilderskolkata.in" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.lifebuilderskolkata.in/" />
<meta name="twitter:title" content="lifebuilderskolkata.in: Church in New Town, Kolkata, Soulful Worship, Biblical Messages, Sunday School, Fellowship, Christ centered Community, Praise & Worship, Prayer, Friendship & Family" />
<meta name="twitter:description" content="Life Builders Community Church, New Town, Kolkata is a vibrant and Spirit-filled community passionate about sharing our belief and faith. We highly value people irrespective of their background. We believe in empowering people and growing together. We are passionate about sharing God’s love with our community, city and nation. Out motto is - GATHER in friendship & family, GROW in character & gifting, GO in mission & service." />
<!--<meta name="twitter:image" content="https://cdn.ndtv.com/static/images/ndtv_default_image_500x500.jpg" />-->


<meta property="og:title" content="lifebuilderskolkata.in: Church in New Town, Kolkata, Soulful Worship, Biblical Messages, Sunday School, Fellowship, Christ centered Community, Praise & Worship, Prayer, Friendship & Family" />
<meta property="og:type" content="Church" />
<!--<meta property="og:image" content="https://cdn.ndtv.com/static/images/ndtv_default_image_500x500.jpg" />-->
<meta property="og:url" content="https://www.lifebuilderskolkata.in/" />
<meta property="og:site_name" content="www.lifebuilderskolkata.in" />
<meta property="og:description" content="Life Builders Community Church, New Town, Kolkata is a vibrant and Spirit-filled community passionate about sharing our belief and faith. We highly value people irrespective of their background. We believe in empowering people and growing together. We are passionate about sharing God’s love with our community, city and nation. Out motto is - GATHER in friendship & family, GROW in character & gifting, GO in mission & service." />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
